.eggContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 3.5rem;
}
.eggName {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}
