.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  overflow: hidden;
}
.eggImageContainer {
  height: 177px;
  .eggImage {
  }
}
.rollButton {
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  background-color: #7e21af;
  color: white;
  &:hover,
  &:focus-visible {
    background-color: #1f40d3;
  }

  &:disabled {
    background-color: #ccc;
    color: #999;
    cursor: default;
  }
}
