.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.rollButton {
  background: none;
  border: none;
  cursor: pointer;
  background-color: #7e21af;
  font-family: inherit;
  font-size: inherit;
  color: white;
  text-align: inherit;
  padding: 1rem;
  &:hover,
  &:focus-visible {
    background-color: #1f40d3;
  }
}
